In [25]:
from google.colab import files

uploaded = files.upload()

Saving 2. Cars Data1.csv to 2. Cars Data1 (1).csv

In [26]:
print(uploaded)

{'2. Cars Data1.csv': b'Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length\r\nAcura,MDX,SUV,Asia,All,"$36,945 ","$33,337 ",3.5,6,265,17,23,4451,106,189\r\nAcura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820 ","$21,761 ",2,4,200,24,31,2778,101,172\r\nAcura,TSX 4dr,Sedan,Asia,Front,"$26,990 ","$24,647 ",2.4,4,200,22,29,3230,105,183\r\nAcura,TL 4dr,Sedan,Asia,Front,"$33,195 ","$30,299 ",3.2,6,270,20,28,3575,108,186\r\nAcura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755 ","$39,014 ",3.5,6,225,18,24,3880,115,197\r\nAcura,3.5 RL w/Navigation 4dr,Sedan,Asia,Front,"$46,100 ","$41,100 ",3.5,6,225,18,24,3893,115,197\r\nAcura,NSX coupe 2dr manual S,Sports,Asia,Rear,"$89,765 ","$79,978 ",3.2,6,290,17,24,3153,100,174\r\nAudi,A4 1.8T 4dr,Sedan,Europe,Front,"$25,940 ","$23,508 ",1.8,4,170,22,31,3252,104,179\r\nAudi,A41.8T convertible 2dr,Sedan,Europe,Front,"$35,940 ","$32,506 ",1.8,4,170,23,30,3638,105,180\r\nAudi,A4 3.0 4dr,Sedan,Europe,Front,"$31,840 ","$28,846 ",3,6,220,20,28,3462,104,179\r\nAudi,A4 3.0 Quattro 4dr manual,Sedan,Europe,All,"$33,430 ","$30,366 ",3,6,220,17,26,3583,104,179\r\nAudi,A4 3.0 Quattro 4dr auto,Sedan,Europe,All,"$34,480 ","$31,388 ",3,6,220,18,25,3627,104,179\r\nAudi,A6 3.0 4dr,Sedan,Europe,Front,"$36,640 ","$33,129 ",3,6,220,20,27,3561,109,192\r\nAudi,A6 3.0 Quattro 4dr,Sedan,Europe,All,"$39,640 ","$35,992 ",3,6,220,18,25,3880,109,192\r\nAudi,A4 3.0 convertible 2dr,Sedan,Europe,Front,"$42,490 ","$38,325 ",3,6,220,20,27,3814,105,180\r\nAudi,A4 3.0 Quattro convertible 2dr,Sedan,Europe,All,"$44,240 ","$40,075 ",3,6,220,18,25,4013,105,180\r\nAudi,A6 2.7 Turbo Quattro 4dr,Sedan,Europe,All,"$42,840 ","$38,840 ",2.7,6,250,18,25,3836,109,192\r\nAudi,A6 4.2 Quattro 4dr,Sedan,Europe,All,"$49,690 ","$44,936 ",4.2,8,300,17,24,4024,109,193\r\nAudi,A8 L Quattro 4dr,Sedan,Europe,All,"$69,190 ","$64,740 ",4.2,8,330,17,24,4399,121,204\r\nAudi,S4 Quattro 4dr,Sedan,Europe,All,"$48,040 ","$43,556 ",4.2,8,340,14,20,3825,104,179\r\nAudi,RS 6 4dr,Sports,Europe,Front,"$84,600 ","$76,417 ",4.2,8,450,15,22,4024,109,191\r\nAudi,TT 1.8 convertible 2dr (coupe),Sports,Europe,Front,"$35,940 ","$32,512 ",1.8,4,180,20,28,3131,95,159\r\nAudi,TT 1.8 Quattro 2dr (convertible),Sports,Europe,All,"$37,390 ","$33,891 ",1.8,4,225,20,28,2921,96,159\r\nAudi,TT 3.2 coupe 2dr (convertible),Sports,Europe,All,"$40,590 ","$36,739 ",3.2,6,250,21,29,3351,96,159\r\nAudi,A6 3.0 Avant Quattro,Wagon,Europe,All,"$40,840 ","$37,060 ",3,6,220,18,25,4035,109,192\r\nAudi,S4 Avant Quattro,Wagon,Europe,All,"$49,090 ","$44,446 ",4.2,8,340,15,21,3936,104,179\r\nBMW,X3 3.0i,SUV,Europe,All,"$37,000 ","$33,873 ",3,6,225,16,23,4023,110,180\r\nBMW,X5 4.4i,SUV,Europe,All,"$52,195 ","$47,720 ",4.4,8,325,16,22,4824,111,184\r\nBMW,325i 4dr,Sedan,Europe,Rear,"$28,495 ","$26,155 ",2.5,6,184,20,29,3219,107,176\r\nBMW,325Ci 2dr,Sedan,Europe,Rear,"$30,795 ","$28,245 ",2.5,6,184,20,29,3197,107,177\r\n,,,,,,,,,,,,,,\r\nBMW,325Ci convertible 2dr,Sedan,Europe,Rear,"$37,995 ","$34,800 ",2.5,6,184,19,27,3560,107,177\r\nBMW,325xi 4dr,Sedan,Europe,All,"$30,245 ","$27,745 ",2.5,6,184,19,27,3461,107,176\r\nBMW,330i 4dr,Sedan,Europe,Rear,"$35,495 ","$32,525 ",3,6,225,20,30,3285,107,176\r\nBMW,330Ci 2dr,Sedan,Europe,Rear,"$36,995 ","$33,890 ",3,6,225,20,30,3285,107,176\r\nBMW,330xi 4dr,Sedan,Europe,All,"$37,245 ","$34,115 ",3,6,225,20,29,3483,107,176\r\nBMW,525i 4dr,Sedan,Europe,Rear,"$39,995 ","$36,620 ",2.5,6,184,19,28,3428,114,191\r\nBMW,330Ci convertible 2dr,Sedan,Europe,Rear,"$44,295 ","$40,530 ",3,6,225,19,28,3616,107,177\r\nBMW,530i 4dr,Sedan,Europe,Rear,"$44,995 ","$41,170 ",3,6,225,20,30,3472,114,191\r\n,,,,,,,,,,,,,,\r\nBMW,545iA 4dr,Sedan,Europe,Rear,"$54,995 ","$50,270 ",4.4,8,325,18,26,3814,114,191\r\nBMW,745i 4dr,Sedan,Europe,Rear,"$69,195 ","$63,190 ",4.4,8,325,18,26,4376,118,198\r\nBMW,745Li 4dr,Sedan,Europe,Rear,"$73,195 ","$66,830 ",4.4,8,325,18,26,4464,123,204\r\nBMW,M3 coupe 2dr,Sports,Europe,Rear,"$48,195 ","$44,170 ",3.2,6,333,16,24,3415,108,177\r\nBMW,M3 convertible 2dr,Sports,Europe,Rear,"$56,595 ","$51,815 ",3.2,6,333,16,23,3781,108,177\r\nBMW,Z4 convertible 2.5i 2dr,Sports,Europe,Rear,"$33,895 ","$31,065 ",2.5,6,184,20,28,2932,98,161\r\nBMW,Z4 convertible 3.0i 2dr,Sports,Europe,Rear,"$41,045 ","$37,575 ",3,6,225,21,29,2998,98,161\r\nBMW,325xi Sport,Wagon,Europe,All,"$32,845 ","$30,110 ",2.5,6,184,19,26,3594,107,176\r\nBuick,Rainier,SUV,USA,All,"$37,895 ","$34,357 ",4.2,6,275,15,21,4600,113,193\r\nBuick,Rendezvous CX,SUV,USA,Front,"$26,545 ","$24,085 ",3.4,6,185,19,26,4024,112,187\r\nBuick,Century Custom 4dr,Sedan,USA,Front,"$22,180 ","$20,351 ",3.1,6,175,20,30,3353,109,195\r\nBuick,LeSabre Custom 4dr,Sedan,USA,Front,"$26,470 ","$24,282 ",3.8,6,205,20,29,3567,112,200\r\nBuick,Regal LS 4dr,Sedan,USA,Front,"$24,895 ","$22,835 ",3.8,6,200,20,30,3461,109,196\r\nBuick,Regal GS 4dr,Sedan,USA,Front,"$28,345 ","$26,047 ",3.8,6,240,18,28,3536,109,196\r\nBuick,LeSabre Limited 4dr,Sedan,USA,Front,"$32,245 ","$29,566 ",3.8,6,205,20,29,3591,112,200\r\nBuick,Park Avenue 4dr,Sedan,USA,Front,"$35,545 ","$32,244 ",3.8,6,205,20,29,3778,114,207\r\nBuick,Park Avenue Ultra 4dr,Sedan,USA,Front,"$40,720 ","$36,927 ",3.8,6,240,18,28,3909,114,207\r\nCadillac,Escalade,SUV,USA,Front,"$52,795 ","$48,377 ",5.3,8,295,14,18,5367,116,199\r\nCadillac,SRX V8,SUV,USA,Front,"$46,995 ","$43,523 ",4.6,8,320,16,21,4302,116,195\r\nCadillac,CTS VVT 4dr,Sedan,USA,Rear,"$30,835 ","$28,575 ",3.6,6,255,18,25,3694,113,190\r\nCadillac,Deville 4dr,Sedan,USA,Front,"$45,445 ","$41,650 ",4.6,8,275,18,26,3984,115,207\r\nCadillac,Deville DTS 4dr,Sedan,USA,Front,"$50,595 ","$46,362 ",4.6,8,300,18,26,4044,115,207\r\nCadillac,Seville SLS 4dr,Sedan,USA,Front,"$47,955 ","$43,841 ",4.6,8,275,18,26,3992,112,201\r\nCadillac,XLR convertible 2dr,Sports,USA,Rear,"$76,200 ","$70,546 ",4.6,8,320,17,25,3647,106,178\r\nCadillac,Escalade EXT,Truck,USA,All,"$52,975 ","$48,541 ",6,8,345,13,17,5879,130,221\r\nChevrolet,Suburban 1500 LT,SUV,USA,Front,"$42,735 ","$37,422 ",5.3,8,295,14,18,4947,130,219\r\nChevrolet,Tahoe LT,SUV,USA,All,"$41,465 ","$36,287 ",5.3,8,295,14,18,5050,116,197\r\nChevrolet,TrailBlazer LT,SUV,USA,Front,"$30,295 ","$27,479 ",4.2,6,275,16,21,4425,113,192\r\nChevrolet,Tracker,SUV,USA,Front,"$20,255 ","$19,108 ",2.5,6,165,19,22,2866,98,163\r\nChevrolet,Aveo 4dr,Sedan,USA,Front,"$11,690 ","$10,965 ",1.6,4,103,28,34,2370,98,167\r\nChevrolet,Aveo LS 4dr hatch,Sedan,USA,Front,"$12,585 ","$11,802 ",1.6,4,103,28,34,2348,98,153\r\nChevrolet,Cavalier 2dr,Sedan,USA,Front,"$14,610 ","$13,697 ",2.2,4,140,26,37,2617,104,183\r\nChevrolet,Cavalier 4dr,Sedan,USA,Front,"$14,810 ","$13,884 ",2.2,4,140,26,37,2676,104,183\r\nChevrolet,Cavalier LS 2dr,Sedan,USA,Front,"$16,385 ","$15,357 ",2.2,4,140,26,37,2617,104,183\r\nChevrolet,Impala 4dr,Sedan,USA,Front,"$21,900 ","$20,095 ",3.4,6,180,21,32,3465,111,200\r\nChevrolet,Malibu 4dr,Sedan,USA,Front,"$18,995 ","$17,434 ",2.2,4,145,24,34,3174,106,188\r\nChevrolet,Malibu LS 4dr,Sedan,USA,Front,"$20,370 ","$18,639 ",3.5,6,200,22,30,3297,106,188\r\nChevrolet,Monte Carlo LS 2dr,Sedan,USA,Front,"$21,825 ","$20,026 ",3.4,6,180,21,32,3340,111,198\r\nChevrolet,Impala LS 4dr,Sedan,USA,Front,"$25,000 ","$22,931 ",3.8,6,200,20,30,3476,111,200\r\nChevrolet,Impala SS 4dr,Sedan,USA,Front,"$27,995 ","$25,672 ",3.8,6,240,18,28,3606,111,200\r\nChevrolet,Malibu LT 4dr,Sedan,USA,Front,"$23,495 ","$21,551 ",3.5,6,200,23,32,3315,106,188\r\nChevrolet,Monte Carlo SS 2dr,Sedan,USA,Front,"$24,225 ","$22,222 ",3.8,6,200,18,28,3434,111,198\r\nChevrolet,Astro,Sedan,USA,All,"$26,395 ","$23,954 ",4.3,6,190,14,17,4605,111,190\r\nChevrolet,Venture LS,Sedan,USA,Front,"$27,020 ","$24,518 ",3.4,6,185,19,26,3699,112,187\r\nChevrolet,Corvette 2dr,Sports,USA,Rear,"$44,535 ","$39,068 ",5.7,8,350,18,25,3246,105,180\r\nChevrolet,Corvette convertible 2dr,Sports,USA,Rear,"$51,535 ","$45,193 ",5.7,8,350,18,25,3248,105,180\r\nChevrolet,Avalanche 1500,Truck,USA,All,"$36,100 ","$31,689 ",5.3,8,295,14,18,5678,130,222\r\nChevrolet,Colorado Z85,Truck,USA,All,"$18,760 ","$17,070 ",2.8,4,175,18,23,3623,111,192\r\nChevrolet,Silverado 1500 Regular Cab,Truck,USA,Rear,"$20,310 ","$18,480 ",4.3,6,200,15,21,4142,119,206\r\nChevrolet,Silverado SS,Truck,USA,All,"$40,340 ","$35,399 ",6,8,300,13,17,4804,144,238\r\nChevrolet,SSR,Truck,USA,Rear,"$41,995 ","$39,306 ",5.3,8,300,16,19,4760,116,191\r\nChevrolet,Malibu Maxx LS,Wagon,USA,Front,"$22,225 ","$20,394 ",3.5,6,200,22,30,3458,112,188\r\nChrysler,PT Cruiser 4dr,Sedan,USA,Front,"$17,985 ","$16,919 ",2.4,4,150,22,29,3101,103,169\r\nChrysler,PT Cruiser Limited 4dr,Sedan,USA,Front,"$22,000 ","$20,573 ",2.4,4,150,22,29,3105,103,169\r\nChrysler,Sebring 4dr,Sedan,USA,Front,"$19,090 ","$17,805 ",2.4,4,150,22,30,3173,108,191\r\nChrysler,Sebring Touring 4dr,Sedan,USA,Front,"$21,840 ","$20,284 ",2.7,6,200,21,28,3222,108,191\r\nChrysler,300M 4dr,Sedan,USA,Front,"$29,865 ","$27,797 ",3.5,6,250,18,27,3581,113,198\r\nChrysler,Concorde LX 4dr,Sedan,USA,Front,"$24,130 ","$22,452 ",2.7,6,200,21,29,3479,113,208\r\nChrysler,Concorde LXi 4dr,Sedan,USA,Front,"$26,860 ","$24,909 ",3.5,6,232,19,27,3548,113,208\r\nChrysler,PT Cruiser GT 4dr,Sedan,USA,Front,"$25,955 ","$24,172 ",2.4,4,220,21,27,3217,103,169\r\nChrysler,Sebring convertible 2dr,Sedan,USA,Front,"$25,215 ","$23,451 ",2.4,4,150,22,30,3357,106,194\r\nChrysler,300M Special Edition 4dr,Sedan,USA,Front,"$33,295 ","$30,884 ",3.5,6,255,18,27,3650,113,198\r\nChrysler,Sebring Limited convertible 2dr,Sedan,USA,Front,"$30,950 ","$28,613 ",2.7,6,200,21,28,3448,106,194\r\nChrysler,Town and Country LX,Sedan,USA,Front,"$27,490 ","$25,371 ",3.3,6,180,19,26,4068,119,201\r\nChrysler,Town and Country Limited,Sedan,USA,Front,"$38,380 ","$35,063 ",3.8,6,215,18,25,4331,119,201\r\nChrysler,Crossfire 2dr,Sports,USA,Rear,"$34,495 ","$32,033 ",3.2,6,215,17,25,3060,95,160\r\nChrysler,Pacifica,Wagon,USA,Rear,"$31,230 ","$28,725 ",3.5,6,250,17,23,4675,116,199\r\nDodge,Durango SLT,SUV,USA,All,"$32,235 ","$29,472 ",4.7,8,230,15,21,4987,119,201\r\nDodge,Neon SE 4dr,Sedan,USA,Front,"$13,670 ","$12,849 ",2,4,132,29,36,2581,105,174\r\nDodge,Neon SXT 4dr,Sedan,USA,Front,"$15,040 ","$14,086 ",2,4,132,29,36,2626,105,174\r\nDodge,Intrepid SE 4dr,Sedan,USA,Front,"$22,035 ","$20,502 ",2.7,6,200,21,29,3469,113,204\r\nDodge,Stratus SXT 4dr,Sedan,USA,Front,"$18,820 ","$17,512 ",2.4,4,150,21,28,3182,108,191\r\nDodge,Stratus SE 4dr,Sedan,USA,Front,"$20,220 ","$18,821 ",2.4,4,150,21,28,3175,108,191\r\nDodge,Intrepid ES 4dr,Sedan,USA,Front,"$24,885 ","$23,058 ",3.5,6,232,18,27,3487,113,204\r\nDodge,Caravan SE,Sedan,USA,Front,"$21,795 ","$20,508 ",2.4,4,150,20,26,3862,113,189\r\nDodge,Grand Caravan SXT,Sedan,USA,All,"$32,660 ","$29,812 ",3.8,6,215,18,25,4440,119,201\r\nDodge,Viper SRT-10 convertible 2dr,Sports,USA,Rear,"$81,795 ","$74,451 ",8.3,10,500,12,20,3410,99,176\r\nDodge,Dakota Regular Cab,Truck,USA,Rear,"$17,630 ","$16,264 ",3.7,6,210,16,22,3714,112,193\r\nDodge,Dakota Club Cab,Truck,USA,Rear,"$20,300 ","$18,670 ",3.7,6,210,16,22,3829,131,219\r\nDodge,Ram 1500 Regular Cab ST,Truck,USA,Rear,"$20,215 ","$18,076 ",3.7,6,215,16,21,4542,121,208\r\nFord,Excursion 6.8 XLT,SUV,USA,All,"$41,475 ","$36,494 ",6.8,10,310,10,13,7190,137,227\r\nFord,Expedition 4.6 XLT,SUV,USA,Front,"$34,560 ","$30,468 ",4.6,8,232,15,19,5000,119,206\r\nFord,Explorer XLT V6,SUV,USA,All,"$29,670 ","$26,983 ",4,6,210,15,20,4463,114,190\r\nFord,Escape XLS,SUV,USA,All,"$22,515 ","$20,907 ",3,6,201,18,23,3346,103,173\r\nFord,Focus ZX3 2dr hatch,Sedan,USA,Front,"$13,270 ","$12,482 ",2,4,130,26,33,2612,103,168\r\nFord,Focus LX 4dr,Sedan,USA,Front,"$13,730 ","$12,906 ",2,4,110,27,36,2606,103,168\r\nFord,Focus SE 4dr,Sedan,USA,Front,"$15,460 ","$14,496 ",2,4,130,26,33,2606,103,168\r\nFord,Focus ZX5 5dr,Sedan,USA,Front,"$15,580 ","$14,607 ",2,4,130,26,33,2691,103,168\r\nFord,Focus SVT 2dr,Sedan,USA,Front,"$19,135 ","$17,878 ",2,4,170,21,28,2750,103,168\r\nFord,Taurus LX 4dr,Sedan,USA,Front,"$20,320 ","$18,881 ",3,6,155,20,27,3306,109,198\r\nFord,Taurus SES Duratec 4dr,Sedan,USA,Front,"$22,735 ","$20,857 ",3,6,201,19,26,3313,109,198\r\nFord,Crown Victoria 4dr,Sedan,USA,Rear,"$24,345 ","$22,856 ",4.6,8,224,17,25,4057,115,212\r\nFord,Crown Victoria LX 4dr,Sedan,USA,Rear,"$27,370 ","$25,105 ",4.6,8,224,17,25,4057,115,212\r\nFord,Crown Victoria LX Sport 4dr,Sedan,USA,Rear,"$30,315 ","$27,756 ",4.6,8,239,17,25,4057,115,212\r\nFord,Freestar SE,Sedan,USA,Front,"$26,930 ","$24,498 ",3.9,6,193,17,23,4275,121,201\r\nFord,Mustang 2dr (convertible),Sports,USA,Rear,"$18,345 ","$16,943 ",3.8,6,193,20,29,3290,101,183\r\nFord,Mustang GT Premium convertible 2dr,Sports,USA,Rear,"$29,380 ","$26,875 ",4.6,8,260,17,25,3347,101,183\r\nFord,Thunderbird Deluxe convert w/hardtop 2d,Sports,USA,Front,"$37,530 ","$34,483 ",3.9,8,280,17,24,3780,107,186\r\nFord,F-150 Regular Cab XL,Truck,USA,Rear,"$22,010 ","$19,490 ",4.6,8,231,15,19,4788,126,211\r\nFord,F-150 Supercab Lariat,Truck,USA,All,"$33,540 ","$29,405 ",5.4,8,300,14,18,5464,133,218\r\nFord,Ranger 2.3 XL Regular Cab,Truck,USA,Rear,"$14,385 ","$13,717 ",2.3,4,143,24,29,3028,111,188\r\nFord,Focus ZTW,Wagon,USA,Front,"$17,475 ","$16,375 ",2,4,130,26,33,2702,103,178\r\nFord,Taurus SE,Wagon,USA,Front,"$22,290 ","$20,457 ",3,6,155,19,26,3497,109,198\r\nGMC,Envoy XUV SLE,SUV,USA,Front,"$31,890 ","$28,922 ",4.2,6,275,15,19,4945,129,208\r\nGMC,Yukon 1500 SLE,SUV,USA,Front,"$35,725 ","$31,361 ",4.8,8,285,16,19,5042,116,199\r\nGMC,Yukon XL 2500 SLT,SUV,USA,All,"$46,265 ","$40,534 ",6,8,325,13,17,6133,130,219\r\nGMC,Safari SLE,Sedan,USA,Rear,"$25,640 ","$23,215 ",4.3,6,190,16,20,4309,111,190\r\nGMC,Canyon Z85 SL Regular Cab,Truck,USA,Rear,"$16,530 ","$14,877 ",2.8,4,175,18,25,3351,111,192\r\nGMC,Sierra Extended Cab 1500,Truck,USA,Rear,"$25,717 ","$22,604 ",4.8,8,285,17,20,4548,144,230\r\nGMC,Sierra HD 2500,Truck,USA,All,"$29,322 ","$25,759 ",6,8,300,13,18,5440,133,222\r\nGMC,Sonoma Crew Cab,Truck,USA,All,"$25,395 ","$23,043 ",4.3,6,190,15,19,4083,123,208\r\nHonda,Civic Hybrid 4dr manual (gas/electric),Hybrid,Asia,Front,"$20,140 ","$18,451 ",1.4,4,93,46,51,2732,103,175\r\nHonda,Insight 2dr (gas/electric),Hybrid,Asia,Front,"$19,110 ","$17,911 ",2,3,73,60,66,1850,95,155\r\nHonda,Pilot LX,SUV,Asia,All,"$27,560 ","$24,843 ",3.5,6,240,17,22,4387,106,188\r\nHonda,CR-V LX,SUV,Asia,All,"$19,860 ","$18,419 ",2.4,4,160,21,25,3258,103,179\r\nHonda,Element LX,SUV,Asia,All,"$18,690 ","$17,334 ",2.4,4,160,21,24,3468,101,167\r\nHonda,Civic DX 2dr,Sedan,Asia,Front,"$13,270 ","$12,175 ",1.7,4,115,32,38,2432,103,175\r\nHonda,Civic HX 2dr,Sedan,Asia,Front,"$14,170 ","$12,996 ",1.7,4,117,36,44,2500,103,175\r\nHonda,Civic LX 4dr,Sedan,Asia,Front,"$15,850 ","$14,531 ",1.7,4,115,32,38,2513,103,175\r\nHonda,Accord LX 2dr,Sedan,Asia,Front,"$19,860 ","$17,924 ",2.4,4,160,26,34,2994,105,188\r\nHonda,Accord EX 2dr,Sedan,Asia,Front,"$22,260 ","$20,080 ",2.4,4,160,26,34,3047,105,188\r\n,,,,,,,,,,,,,,\r\nHonda,Civic EX 4dr,Sedan,Asia,Front,"$17,750 ","$16,265 ",1.7,4,127,32,37,2601,103,175\r\nHonda,Civic Si 2dr hatch,Sedan,Asia,Front,"$19,490 ","$17,849 ",2,4,160,26,30,2782,101,166\r\nHonda,Accord LX V6 4dr,Sedan,Asia,Front,"$23,760 ","$21,428 ",3,6,240,21,30,3349,108,190\r\nHonda,Accord EX V6 2dr,Sedan,Asia,Front,"$26,960 ","$24,304 ",3,6,240,21,30,3294,105,188\r\nHonda,Odyssey LX,Sedan,Asia,Front,"$24,950 ","$22,498 ",3.5,6,240,18,25,4310,118,201\r\nHonda,Odyssey EX,Sedan,Asia,Front,"$27,450 ","$24,744 ",3.5,6,240,18,25,4365,118,201\r\nHonda,S2000 convertible 2dr,Sports,Asia,Rear,"$33,260 ","$29,965 ",2.2,4,240,20,25,2835,95,162\r\nHummer,H2,SUV,USA,All,"$49,995 ","$45,815 ",6,8,316,10,12,6400,123,190\r\nHyundai,Santa Fe GLS,SUV,Asia,Front,"$21,589 ","$20,201 ",2.7,6,173,20,26,3549,103,177\r\nHyundai,Accent 2dr hatch,Sedan,Asia,Front,"$10,539 ","$10,107 ",1.6,4,103,29,33,2255,96,167\r\nHyundai,Accent GL 4dr,Sedan,Asia,Front,"$11,839 ","$11,116 ",1.6,4,103,29,33,2290,96,167\r\n,,,,,,,,,,,,,,\r\nHyundai,Accent GT 2dr hatch,Sedan,Asia,Front,"$11,939 ","$11,209 ",1.6,4,103,29,33,2339,96,167\r\nHyundai,Elantra GLS 4dr,Sedan,Asia,Front,"$13,839 ","$12,781 ",2,4,138,26,34,2635,103,178\r\nHyundai,Elantra GT 4dr,Sedan,Asia,Front,"$15,389 ","$14,207 ",2,4,138,26,34,2635,103,178\r\nHyundai,Elantra GT 4dr hatch,Sedan,Asia,Front,"$15,389 ","$14,207 ",2,4,138,26,34,2698,103,178\r\nHyundai,Sonata GLS 4dr,Sedan,Asia,Front,"$19,339 ","$17,574 ",2.7,6,170,19,27,3217,106,187\r\nHyundai,Sonata LX 4dr,Sedan,Asia,Front,"$20,339 ","$18,380 ",2.7,6,170,19,27,3217,106,187\r\nHyundai,XG350 4dr,Sedan,Asia,Front,"$24,589 ","$22,055 ",3.5,6,194,17,26,3651,108,192\r\nHyundai,XG350 L 4dr,Sedan,Asia,Front,"$26,189 ","$23,486 ",3.5,6,194,17,26,3651,108,192\r\nHyundai,Tiburon GT V6 2dr,Sports,Asia,Front,"$18,739 ","$17,101 ",2.7,6,172,19,26,3023,100,173\r\nInfiniti,G35 4dr,Sedan,Asia,Rear,"$28,495 ","$26,157 ",3.5,6,260,18,26,3336,112,187\r\nInfiniti,G35 Sport Coupe 2dr,Sedan,Asia,Rear,"$29,795 ","$27,536 ",3.5,6,280,18,26,3416,112,182\r\nInfiniti,G35 4dr,Sedan,Asia,All,"$32,445 ","$29,783 ",3.5,6,260,18,26,3677,112,187\r\nInfiniti,I35 4dr,Sedan,Asia,Front,"$31,145 ","$28,320 ",3.5,6,255,19,26,3306,108,194\r\nInfiniti,M45 4dr,Sedan,Asia,Rear,"$42,845 ","$38,792 ",4.5,8,340,17,23,3851,110,197\r\nInfiniti,Q45 Luxury 4dr,Sedan,Asia,Rear,"$52,545 ","$47,575 ",4.5,8,340,17,23,3977,113,200\r\nInfiniti,FX35,Wagon,Asia,Rear,"$34,895 ","$31,756 ",3.5,6,280,16,22,4056,112,189\r\nInfiniti,FX45,Wagon,Asia,All,"$36,395 ","$33,121 ",4.5,8,315,15,19,4309,112,189\r\nIsuzu,Ascender S,SUV,Asia,All,"$31,849 ","$29,977 ",4.2,6,275,15,20,4967,129,208\r\nIsuzu,Rodeo S,SUV,Asia,Front,"$20,449 ","$19,261 ",3.2,6,193,17,21,3836,106,178\r\nJaguar,X-Type 2.5 4dr,Sedan,Europe,All,"$29,995 ","$27,355 ",2.5,6,192,18,26,3428,107,184\r\nJaguar,X-Type 3.0 4dr,Sedan,Europe,All,"$33,995 ","$30,995 ",3,6,227,18,25,3516,107,184\r\nJaguar,S-Type 3.0 4dr,Sedan,Europe,Rear,"$43,895 ","$40,004 ",3,6,235,18,26,3777,115,192\r\nJaguar,S-Type 4.2 4dr,Sedan,Europe,Rear,"$49,995 ","$45,556 ",4.2,8,294,18,28,3874,115,192\r\nJaguar,S-Type R 4dr,Sedan,Europe,Rear,"$63,120 ","$57,499 ",4.2,8,390,17,24,4046,115,192\r\nJaguar,Vanden Plas 4dr,Sedan,Europe,Rear,"$68,995 ","$62,846 ",4.2,8,294,18,28,3803,119,200\r\nJaguar,XJ8 4dr,Sedan,Europe,Rear,"$59,995 ","$54,656 ",4.2,8,294,18,28,3803,119,200\r\nJaguar,XJR 4dr,Sedan,Europe,Rear,"$74,995 ","$68,306 ",4.2,8,390,17,24,3948,119,200\r\nJaguar,XK8 coupe 2dr,Sports,Europe,Rear,"$69,995 ","$63,756 ",4.2,8,294,18,26,3779,102,187\r\nJaguar,XK8 convertible 2dr,Sports,Europe,Rear,"$74,995 ","$68,306 ",4.2,8,294,18,26,3980,102,187\r\nJaguar,XKR coupe 2dr,Sports,Europe,Rear,"$81,995 ","$74,676 ",4.2,8,390,16,23,3865,102,187\r\nJaguar,XKR convertible 2dr,Sports,Europe,Rear,"$86,995 ","$79,226 ",4.2,8,390,16,23,4042,102,187\r\nJeep,Grand Cherokee Laredo,SUV,USA,Front,"$27,905 ","$25,686 ",4,6,195,16,21,3790,106,181\r\nJeep,Liberty Sport,SUV,USA,All,"$20,130 ","$18,973 ",2.4,4,150,20,24,3826,104,174\r\nJeep,Wrangler Sahara convertible 2dr,SUV,USA,All,"$25,520 ","$23,275 ",4,6,190,16,19,3575,93,150\r\nKia,Sorento LX,SUV,Asia,Front,"$19,635 ","$18,630 ",3.5,6,192,16,19,4112,107,180\r\nKia,Optima LX 4dr,Sedan,Asia,Front,"$16,040 ","$14,910 ",2.4,4,138,23,30,3281,106,186\r\nKia,Rio 4dr manual,Sedan,Asia,Front,"$10,280 ","$9,875 ",1.6,4,104,26,33,2403,95,167\r\nKia,Rio 4dr auto,Sedan,Asia,Front,"$11,155 ","$10,705 ",1.6,4,104,25,32,2458,95,167\r\nKia,Spectra 4dr,Sedan,Asia,Front,"$12,360 ","$11,630 ",1.8,4,124,24,32,2661,101,178\r\nKia,Spectra GS 4dr hatch,Sedan,Asia,Front,"$13,580 ","$12,830 ",1.8,4,124,24,32,2686,101,178\r\nKia,Spectra GSX 4dr hatch,Sedan,Asia,Front,"$14,630 ","$13,790 ",1.8,4,124,24,32,2697,101,178\r\nKia,Optima LX V6 4dr,Sedan,Asia,Front,"$18,435 ","$16,850 ",2.7,6,170,20,27,3279,106,186\r\nKia,Amanti 4dr,Sedan,Asia,Front,"$26,000 ","$23,764 ",3.5,6,195,17,25,4021,110,196\r\nKia,Sedona LX,Sedan,Asia,Front,"$20,615 ","$19,400 ",3.5,6,195,16,22,4802,115,194\r\nKia,Rio Cinco,Wagon,Asia,Front,"$11,905 ","$11,410 ",1.6,4,104,26,33,2447,95,16

In [27]:
import io
import pandas as pd
df = pd.read_csv(io.BytesIO(uploaded['2. Cars Data1.csv']))

In [28]:
df.shape

(432, 15)

In [29]:
df.head()

    Make           Model   Type Origin  ... MPG_Highway  Weight Wheelbase  Length
0  Acura             MDX    SUV   Asia  ...        23.0  4451.0     106.0   189.0
1  Acura  RSX Type S 2dr  Sedan   Asia  ...        31.0  2778.0     101.0   172.0
2  Acura         TSX 4dr  Sedan   Asia  ...        29.0  3230.0     105.0   183.0
3  Acura          TL 4dr  Sedan   Asia  ...        28.0  3575.0     108.0   186.0
4  Acura      3.5 RL 4dr  Sedan   Asia  ...        24.0  3880.0     115.0   197.0

[5 rows x 15 columns]

In [30]:
df.dtypes

Make            object
Model           object
Type            object
Origin          object
DriveTrain      object
MSRP            object
Invoice         object
EngineSize     float64
Cylinders      float64
Horsepower     float64
MPG_City       float64
MPG_Highway    float64
Weight         float64
Wheelbase      float64
Length         float64
dtype: object

# **Data Cleaning**

In [31]:
df.isnull()

      Make  Model   Type  Origin  ...  MPG_Highway  Weight  Wheelbase  Length
0    False  False  False   False  ...        False   False      False   False
1    False  False  False   False  ...        False   False      False   False
2    False  False  False   False  ...        False   False      False   False
3    False  False  False   False  ...        False   False      False   False
4    False  False  False   False  ...        False   False      False   False
..     ...    ...    ...     ...  ...          ...     ...        ...     ...
427  False  False  False   False  ...        False   False      False   False
428  False  False  False   False  ...        False   False      False   False
429  False  False  False   False  ...        False   False      False   False
430  False  False  False   False  ...        False   False      False   False
431  False  False  False   False  ...        False   False      False   False

[432 rows x 15 columns]

In [32]:
df.isnull().sum()

Make           4
Model          4
Type           4
Origin         4
DriveTrain     4
MSRP           4
Invoice        4
EngineSize     4
Cylinders      6
Horsepower     4
MPG_City       4
MPG_Highway    4
Weight         4
Wheelbase      4
Length         4
dtype: int64

In [33]:
#There are some null values in data set
#So fill the null values with mean of that column
df['EngineSize'].fillna(df['EngineSize'].mean(),inplace=True)
df['Cylinders'].fillna(df['Cylinders'].mean(),inplace=True)
df['Horsepower'].fillna(df['Horsepower'].mean(),inplace=True)
df['MPG_City'].fillna(df['MPG_City'].mean(),inplace=True)
df['MPG_Highway'].fillna(df['MPG_Highway'].mean(),inplace=True)
df['Weight'].fillna(df['Weight'].mean(),inplace=True)
df['Wheelbase'].fillna(df['Wheelbase'].mean(),inplace=True)
df['Length'].fillna(df['Length'].mean(),inplace=True)

In [34]:
df.isnull().sum()

Make           4
Model          4
Type           4
Origin         4
DriveTrain     4
MSRP           4
Invoice        4
EngineSize     0
Cylinders      0
Horsepower     0
MPG_City       0
MPG_Highway    0
Weight         0
Wheelbase      0
Length         0
dtype: int64

## Filling the null values of String columns with space

In [37]:

df.loc[:,'Make':'Invoice']=df.loc[:,'Make':'Invoice'].fillna('')

In [38]:
df.isnull().sum()

Make           0
Model          0
Type           0
Origin         0
DriveTrain     0
MSRP           0
Invoice        0
EngineSize     0
Cylinders      0
Horsepower     0
MPG_City       0
MPG_Highway    0
Weight         0
Wheelbase      0
Length         0
dtype: int64

## Finding number of cars from each individual company

In [39]:
df['Make'].value_counts()

Toyota           28
Chevrolet        27
Mercedes-Benz    26
Ford             23
BMW              20
Audi             19
Nissan           17
Honda            17
Chrysler         15
Volkswagen       15
Dodge            13
Mitsubishi       13
Volvo            12
Hyundai          12
Jaguar           12
Pontiac          11
Mazda            11
Subaru           11
Kia              11
Lexus            11
Lincoln           9
Buick             9
Mercury           9
Saturn            8
Cadillac          8
Suzuki            8
Infiniti          8
GMC               8
Acura             7
Porsche           7
Saab              7
0                 4
Oldsmobile        3
Jeep              3
Land Rover        3
Isuzu             2
Scion             2
MINI              2
Hummer            1
Name: Make, dtype: int64

## Printing records of Asia and Europe

In [40]:
df[df['Origin'].isin(['Asia','Europe'])]

      Make                    Model   Type  ...  Weight Wheelbase Length
0    Acura                      MDX    SUV  ...  4451.0     106.0  189.0
1    Acura           RSX Type S 2dr  Sedan  ...  2778.0     101.0  172.0
2    Acura                  TSX 4dr  Sedan  ...  3230.0     105.0  183.0
3    Acura                   TL 4dr  Sedan  ...  3575.0     108.0  186.0
4    Acura               3.5 RL 4dr  Sedan  ...  3880.0     115.0  197.0
..     ...                      ...    ...  ...     ...       ...    ...
427  Volvo  C70 LPT convertible 2dr  Sedan  ...  3450.0     105.0  186.0
428  Volvo  C70 HPT convertible 2dr  Sedan  ...  3450.0     105.0  186.0
429  Volvo               S80 T6 4dr  Sedan  ...  3653.0     110.0  190.0
430  Volvo                      V40  Wagon  ...  2822.0     101.0  180.0
431  Volvo                     XC70  Wagon  ...  3823.0     109.0  186.0

[281 rows x 15 columns]

## Printing rows with Height value less than 100

In [42]:
df['Length']<100

0      False
1      False
2      False
3      False
4      False
       ...
427    False
428    False
429    False
430    False
431    False
Name: Length, Length: 432, dtype: bool

## Removing rows with values less than 100

In [43]:
df[~(df['Length']<100)]

      Make                    Model   Type  ...  Weight Wheelbase Length
0    Acura                      MDX    SUV  ...  4451.0     106.0  189.0
1    Acura           RSX Type S 2dr  Sedan  ...  2778.0     101.0  172.0
2    Acura                  TSX 4dr  Sedan  ...  3230.0     105.0  183.0
3    Acura                   TL 4dr  Sedan  ...  3575.0     108.0  186.0
4    Acura               3.5 RL 4dr  Sedan  ...  3880.0     115.0  197.0
..     ...                      ...    ...  ...     ...       ...    ...
427  Volvo  C70 LPT convertible 2dr  Sedan  ...  3450.0     105.0  186.0
428  Volvo  C70 HPT convertible 2dr  Sedan  ...  3450.0     105.0  186.0
429  Volvo               S80 T6 4dr  Sedan  ...  3653.0     110.0  190.0
430  Volvo                      V40  Wagon  ...  2822.0     101.0  180.0
431  Volvo                     XC70  Wagon  ...  3823.0     109.0  186.0

[432 rows x 15 columns]

## Increasing cyclinders count by 3 for every value

In [44]:
df['Cylinders']=df['Cylinders'].apply(lambda x:x+3)
df

      Make                    Model   Type  ...  Weight Wheelbase Length
0    Acura                      MDX    SUV  ...  4451.0     106.0  189.0
1    Acura           RSX Type S 2dr  Sedan  ...  2778.0     101.0  172.0
2    Acura                  TSX 4dr  Sedan  ...  3230.0     105.0  183.0
3    Acura                   TL 4dr  Sedan  ...  3575.0     108.0  186.0
4    Acura               3.5 RL 4dr  Sedan  ...  3880.0     115.0  197.0
..     ...                      ...    ...  ...     ...       ...    ...
427  Volvo  C70 LPT convertible 2dr  Sedan  ...  3450.0     105.0  186.0
428  Volvo  C70 HPT convertible 2dr  Sedan  ...  3450.0     105.0  186.0
429  Volvo               S80 T6 4dr  Sedan  ...  3653.0     110.0  190.0
430  Volvo                      V40  Wagon  ...  2822.0     101.0  180.0
431  Volvo                     XC70  Wagon  ...  3823.0     109.0  186.0

[432 rows x 15 columns]